body {
  background-color: #292b2c;
  color: #fff;
}

.xpros-jumbo {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("//dl.dropboxusercontent.com/s/tvfxnrwmiqwnexj/tetris_header.jpg?dl=0");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.xpros-jumbo h1 span, .xpros-jumbo p span {
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 2px 10px 2px 10px;
}

.xpros-header {
  background-image: url("//dl.dropboxusercontent.com/s/tvfxnrwmiqwnexj/tetris_header.jpg?dl=0");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #292b2c!important;
  padding: 0;
}

.xpros-title {
  background: rgba(0,0,0,0.5);
  letter-spacing: -1px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1028px;
}

/* Media Queries */
@media only screen and (max-width: 692px) {
  .xpros-jumbo h1 span {
    line-height:  70px;
  }
}