.xpros-header {
  background-image: url("https://dl.dropboxusercontent.com/s/tvfxnrwmiqwnexj/tetris_header.jpg?dl=0");
  background-position: center;
  background-repeat: no-repeat;
}

.xpros-title {
  background: rgba(0,0,0,0.5);
  letter-spacing: -1px;
  margin: 0 auto;
}